body
{
	background-color: #f6780e;
	color: #ffffff;
	font: 15px Arial, sans-serif;
}
h1
{
	margin-left: 10px;
}
.myDiv {
  border: 5px outset white;
  background-color: orange;
  text-align: center;
}

