body
{
	background-color: #f6780e;
	color: #ffffff;
	font: 15px Arial, sans-serif;
        margin-left: 10px;
}

.wiiHeading1 {
 	animation-name: wiiHeading1;
	animation-duration: 15s;
	animation-iteration-count: infinite;
}

@keyframes wiiHeading1 {
	0% {color: WhiteSmoke}
	50% {color: SteelBlue}
	100% {color: RoyalBlue}
}




